In [4]:
import pandas as pd
df = pd.read_csv(r'egrocery.csv')
df.head()

  Independent Variable  Dependent Variable
0           <2.5 Lakhs                  30
1          5-7.5 Lakhs                  15
2          5-7.5 Lakhs                   7
3          2.5-5 Lakhs                   7
4            >15 Lakhs                   7

In [5]:
df.groupby(['Independent Variable']).mean()

                      Dependent Variable
Independent Variable
10-12.5 Lakhs                  15.720000
12.5-15 Lakhs                  15.307692
2.5-5 Lakhs                    15.125000
5-7.5 Lakhs                    18.500000
7.5-10 Lakhs                   18.291667
<2.5 Lakhs                     20.805556
>15 Lakhs                      18.733333

In [6]:
ct = pd.crosstab(df['Independent Variable'], df['Dependent Variable'])
ct

Dependent Variable    7   15  21  30  60
Independent Variable
10-12.5 Lakhs          9   9   5   1   1
12.5-15 Lakhs          4   6   1   2   0
2.5-5 Lakhs            5   7   2   2   0
5-7.5 Lakhs            4  10   2   3   1
7.5-10 Lakhs           4  11   6   2   1
<2.5 Lakhs             8  16   3   5   4
>15 Lakhs              5   5   1   3   1

In [7]:
from scipy.stats import chi2_contingency
from scipy.stats import chi2

prob = 0.95
stat, p, dof, expected = chi2_contingency(ct)
critical = chi2.ppf(prob, dof)

print('1 - alpha:', prob)
print('D.o.F:', dof)
print('observed value:', stat)
print('critical value:', critical)
print('p value:', p)

print('')
print('RESULT:')

if abs(stat) >= critical:
    print('Reject H0: Depended')
else:
    print('Fail to reject H0: Independent')

1 - alpha: 0.95
D.o.F: 24
observed value: 15.396084592898495
critical value: 36.41502850180731
p value: 0.9086323313143703

RESULT:
Fail to reject H0: Independent